[Unit]
Description=DATA Rakshak (Guardians of Data) Worker Service
After=network.target

[Service]
Type=simple
User=datarakshak
Group=datarakshak
WorkingDirectory=/var/datarakshak
Environment=DJANGO_SETTINGS_MODULE=datarakshak.settings.production
ExecStart=/usr/local/bin/pipenv run celery -A datarakshak.core worker --beat -l info -S django
Restart=always

[Install]
WantedBy=multi-user.target
